extends layout
block content
    section
        - var targetCurrency = "HKD"
        h2 FX Price
        h3 Retrieve prices with Axios from http://data.fixer.io/api/latest?access_key=fe3a9b3f9ac173a3e51d8ea22951cf95
        table(class="table table-bordered")
            thead
                tr 
                    th Currency Name
                    th Price
                    th Price+
            tbody
                each fxPrice, fxName in fxs
                    - var isEven = (parseInt(fxPrice)%2 == 0) && !(fxPrice < 1) ? 1 : 0;
                    tr
                        td(class="prices")=fxName
                        td
                            div(class=((fxName==targetCurrency) || (isEven) ? "highlight" : "prices"))=fxPrice
                        td(class="prices")=(fxPrice+10.0002).toFixed(4)