body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.table>thead>tr>th {
  text-align: center;
}
td {
  text-align: center;
}
.highlight {
  border: 1px solid red;
  text-align: center;
}


li {
  display: flex;
  flex-wrap: row;
}

.prices {
  text-align: center;
}